.splash-container {
    height: 75vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.splash-title {
    font-size: 3rem;
    font-family: 'Bungee', cursive;
    color: #962D3E;
}

.btn {
    background-color: #348899;
    color: #FFFFFF;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.3rem;
    padding: .5em 1em;
    border: none;
    outline: none;
    margin: 1em;
    border-radius: 100vmax;
    text-decoration: none;
}

.btn:hover {
    background-color: #247383;
}

.splash-chess-image {
    position: absolute;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
}

.headline {
    color: #962D3E;
}

@media (max-width: 620px) {
    .splash-buttons {
        display: flex;
        flex-direction: column;
    }
}