*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0D0D0D; 
}

/* Splash Page */
.splash-container {
    height: 75vh;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    text-align: center;
}

.splash-title {
    font-size: 3rem;
    font-family: 'Bungee', cursive;
    color: #962D3E;
}

.btn {
    background-color: #348899;
    color: #FFFFFF;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.3rem;
    padding: .5em 1em;
    border: none;
    outline: none;
    margin: 1em;
    border-radius: 100vmax;
    text-decoration: none;
}

.btn:hover {
    background-color: #247383;
}

.splash-chess-image {
    position: absolute;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
}

.game-setup {
    color: white;
    background: rgba(0, 0, 0, .5);
    display: none;
    flex-direction: column;
}

.game-setup.show {
    display: flex;
}

.headline {
    color: #962D3E;
}

.grid-container {
    box-sizing: initial;
    width: 800px;
    height: 800px;
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 2px solid grey;
}

.cell {
    height: 100px;
    width: 100px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell.dark {
    background-color: #457b9d;
}

.cell.light {
    background-color: #f1faee;
}

.cell.highlight {
    background-color: #962D3E;
}

.cell .move-overlay {
    display: none;
    width: 25%;
    height: 25%;
    position: absolute;
    background-color: #962D3E;
    border-radius: 50%;
    pointer-events: none;
}

.cell:hover .move-overlay {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.cell .take-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(transparent 0%, transparent 80%, #962D3E 80%);
    pointer-events: none;
}

.cell.active {
    background-color: #962D3E;
}

.cell.checked {
    background-color: red;
}

[data-piece="pawn"][data-color="light"] {
    background-image: url("img/pawn_light.png");
    background-size: cover;
}

[data-piece="pawn"][data-color="dark"] {
    background-image: url("img/pawn_dark.png");
    background-size: cover;
}

[data-piece="rook"][data-color="light"] {
    background-image: url("img/rook_light.png");
    background-size: cover;
}

[data-piece="rook"][data-color="dark"] {
    background-image: url("img/rook_dark.png");
    background-size: cover;
}

[data-piece="knight"][data-color="light"] {
    background-image: url("img/knight_light.png");
    background-size: cover;
}

[data-piece="knight"][data-color="dark"] {
    background-image: url("img/knight_dark.png");
    background-size: cover;
}

[data-piece="bishop"][data-color="light"] {
    background-image: url("img/bishop_light.png");
    background-size: cover;
}

[data-piece="bishop"][data-color="dark"] {
    background-image: url("img/bishop_dark.png");
    background-size: cover;
}

[data-piece="queen"][data-color="light"] {
    background-image: url("img/queen_light.png");
    background-size: cover;
}

[data-piece="queen"][data-color="dark"] {
    background-image: url("img/queen_dark.png");
    background-size: cover;
}

[data-piece="king"][data-color="light"] {
    background-image: url("img/king_light.png");
    background-size: cover;
}

[data-piece="king"][data-color="dark"] {
    background-image: url("img/king_dark.png");
    background-size: cover;
}

.player-role,
.turn-display {
    color: white;
}

.status {
    color: white;
}

.status .ready,
.status .connected {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: red;
}

.status .ready.green,
.status .connected.green {
    background-color: green;
}

.ready-button {
    font-size: .75rem;
    display: none;
}

.ready-button.show {
    display: block;
}

@media (max-width: 620px) {
    .splash-buttons {
        display: flex;
        flex-direction: column;
    }
}